body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 300px;
    height: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    border: solid 3px black;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.display {
    border: solid 2px black;
    border-bottom: solid 4px black;
    display: flex;
    justify-content: flex-end;
    height: 20%;
    align-items: end;
    font-size: 30px;
    color: white;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.fourth {
    width: 25%;
}

.math {
    background-color: black;
    color: rgb(221, 172, 11);
}

.oper {
    background-color: rgb(12, 156, 156);
}

.clear, .equals {
    background-color: rgb(224, 168, 11);
}